---
import Layout from "@layout";

import "@css/style.css";
---

<Layout title="Flamepass">
    <div>
        Credits: 
        Frontend UI: Built on <a about="_blank" href="https://noctura.app">Noctura Proxy</a>
        Static UV: 
        Flamepass: 
    </div>
</Layout>